body {
    background: url('images/stalker-zone.jpg') no-repeat center center fixed;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: linear-gradient(to right, rgba(122, 62, 40, 0.4), rgba(94, 43, 26, 0.6), rgba(61, 26, 15, 0.8));
    color: #DAA520;
    margin: 0; 
    padding: 20px 0; 
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_menu li {
    color: #FFD27F; 
}

.list_item {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease; 
}

@keyframes yellowGlow {
    0% {
        text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.7);
    }
    50% {
        text-shadow: 0px 0px 15px rgba(255, 255, 0, 1);
    }
    100% {
        text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.7);
    }
}

.list_item:hover {
    animation: yellowGlow 1s infinite alternate;
    color: #FFD700; 
}

.logo {
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(to bottom, blue 50%, yellow 50%);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5), 0 0 20px rgba(0, 255, 0, 0.7);
    transition: all 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.3);
}

@keyframes toxicGlow {
    0% {
        box-shadow: 0px 0px 5px rgba(255, 69, 0, 0.7);
    }
    50% {
        box-shadow: 0px 0px 20px rgba(255, 140, 0, 1); 
    }
    100% {
        box-shadow: 0px 0px 5px rgba(255, 69, 0, 0.7);
    }
}

button {
    border: 1px solid #8B4513; 
    background-color: #5C4033;
    color: #FFD27F; 
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.2);
}

button:hover {
    background-color: #A85D3A;
    color: #1C1C1C;
    box-shadow: 0 0 20px rgba(255, 140, 0, 0.7);
    animation: toxicGlow 1s infinite alternate;
}


a {
    text-decoration: none; 
    color: inherit;
}

.about-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: lightgray;
    justify-content: center;
    align-items: center;
}

.about-modal.show {
    display: flex;
}

.about-text {
    color: black;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    background: #8B3D1A; 
    padding: 45px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.7);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff;
    transition: 0.3s;
}

.close:hover {
    color: red;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #444;
    background: #999;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

.modal-content input[type="checkbox"] {
    margin-right: 5px;
}

.radios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 20px;
    border: 2px solid #aa652c; 
    border-radius: 8px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    cursor: pointer;
}

.field.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    padding-bottom: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.field__errors {
    display: flex;
    flex-direction: column;
    row-gap: 0.4em;
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #FFD700;
    line-height: 1.25;
  }
  
  .field__errors:empty {
    display: none;
  }

.hero {
    height: 100vh;
    background: url('images/stalker-zone.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.hero-buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #DAA520;
    color: black;
    transition: 0.3s;
}

.hero-buttons button:hover {
    background: #FFD700;
}

.video-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.fan-trailer {
    position: absolute;
    color: #f5c518;
    top: 60px; 
    left: 45%;
    transform: translateX(-50%);
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin: 0;
}

.video-container {
    width: 100%;
    max-width: 70%; 
    position: relative;
    padding-bottom: 35%; 
    height: 0; 
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.gallery {
    padding: 80px;
    color: #f5c518;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background: #222;
    
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-container img {
    width: 500px;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.8);
}

.gallery-container img:hover {
    transform: scale(1.05);
}

.back-btn,
.scroll-up-btn,
.scroll-down-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.back-btn:hover,
.scroll-up-btn,
.scroll-down-btn {
    background-color: #ffaa00;
}

.buttons-container-gallery {
    display: inline-flex;
    gap: 20px;
}

.gameplay-section {
    text-align: center;
    padding: 50px 0;
    background: #222;
}

.gameplay-title {
    color: #f5c518;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.gameplay-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.gameplay-video {
    width: 350px;
    height: 200px;
    object-fit: cover;
    opacity: 1; 
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.8);
}

.gameplay-video.show {
    opacity: 1; 
}

.big-video-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    margin-top: 70px; 
}

.gameplay-video.big {
    width: 45%; 
    max-width: 1200px; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 140, 0, 0.8);
}

footer {
    background-color: #1b1b1b;
    padding: 30px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.footer-text {
    color: yellow;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 15px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.steam-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.steam-icon:hover img {
    transform: scale(1.2);
    filter: brightness(1.5);
}
